<h1><%=  @post.title %> </h1>
<p> <%= @post.updated_at.localtime.to_formatted_s(:short) %></p>
<h2> by <%= @post.author %> </h2>
<br>
<h3> asking for $for $<%= @post.value %></h3>
<p><%=image_tag @post.image %></p>
<p> <%= @post.description %> </h2>


<table>
    <tr>
      <th width="60%">Comment </th>
      <th> Postee </th>
    </tr>

<% @post.comments.each do |comment| %>
  <td><%= comment.comment%> ...</td>
  <td><%= @comment.author %></td>
  <td><%= @comment.created_at.localtime.to_formatted_s(:short) %></td>
  <td><%= link_to "Edit", edit_comment_path(comment) %></td>
  <td><%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
</table>
<br>
<%= link_to "Reply to this post", new_comment_path %>
