<h1><br><%= @post.title %> <br>
<p><%=link_to "Back to Board", @board %> | <%= link_to "Comment this post", new_board_post_comment_path(@board, @post) %></p>
<p> LOGIN | SIGNUP </p>
</h1>
<div class="middle"><p> by <%= @post.author %> at <%= @post.updated_at.localtime.to_formatted_s(:short) %></p>
  <p> asking for for $<%= @post.value %></p>
  <% if @post.image %>
    <div class="image">
      <p><%=image_tag @post.image %></p>
    </div>
  <% else %>
  <% end %>
  <p class="bodytext"> <%= @post.description %> </p>
</div>

<% if @post.comments.length > 0 %>
  <div class="board">
    <table>
      <tr>
        <th class="left" width="60%">Comment </th>
        <th width="20%">Postee </th>
        <th width="20%">Time </th>
      </tr>

      <% for comment in @post.comments %>
        <tr>
          <td class="left" bodytext"><%= link_to comment.description, board_post_comment_path(@board, @post, comment)%></td>
          <td><%= comment.author %></td>
          <td><%= comment.created_at.localtime.to_formatted_s(:short) %></td>
          <td><%= link_to "Edit", edit_board_post_comment_path(@board, @post, comment) %></td>
          <td><%= link_to "Destroy", board_post_comment_path(@board, @post, comment), :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
  </table>
</div>
<% else %>
  <p>No comments yet!</p>
<% end %>
<div class="space">
</div>
