<h1><br><br><%= @post.title %> <br>
<p><%=link_to "Back to Board", @board %> | <%= link_to "Comment this post", new_board_post_comment_path(@board, @post) %></p></h1>
<div class="middle"><p> by <%= @post.author %> at <%= @post.updated_at.localtime.to_formatted_s(:short) %></p>
  <p> asking for for $<%= @post.value %></p>
  <p><%=image_tag @post.image %></p>
  <p> <%= @post.description %> </p>
</div>

<% if @post.comments.length > 0 %>
  <div class="board">
    <table>
      <tr>
        <th class="left" width="60%">Comment </th>
        <th width="20%">Postee </th>
        <th width="20%">Time </th>
      </tr>

      <% @post.comments.each do |comment| %>
        <td class="left"><%= link_to comment.description, board_post_comment_path(@board, @post, comment)%></td>
        <td><%= comment.author %></td>
        <td><%= comment.created_at.localtime.to_formatted_s(:short) %></td>
        <td><%= link_to "Edit", edit_board_post_comment_path(@board, @post, comment) %></td>
        <td><%= link_to "Destroy", board_post_comment_path(@board, @post, comment), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
  </table>
</div>
<% else %>
  <p>No comments yet!</p>
<% end %>
