<h1 class="middle"><br><br>Comment for post: <br><%=  @post.title %> </h1>

<h2> Comment at <%= @comment.updated_at.localtime.to_formatted_s(:short) %> by <%= @comment.author %></h2>
 <br>

 <p> **image goes here</p>

 <p><%= @comment.comment %></p>

<p><%=link_to "Back to Boards", board_path %></p>
