<h1>Looking <%= @board.title =%> ...</h1>
<p><%=link_to "Boards", boards_path %></p>

<table>
  <tr>
    <th width="50%">Post Title</th>
    <th width="10%">Replies</th>

  </tr>
  <% for post in @board.posts %>
    <tr>
      <td><%= link_to (post.title), board_post_path(post) %>
      <td><%= post.comments.count %>
      <td><%= post.updated_at.localtime.to_formatted_s(:short) %>
      <td><%= link_to "Edit", edit_board_post_path(post) %></td>
      <td><%= link_to "Destroy", board_post_path(@board, post), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "Add a post", new_board_post_path(@board) %>
