<%= @post.inspect %>

<h2><%= @post.title =%></h2>


<table>
  <tr>
    <th width="50%">Post Title</th>
    <th width="10%">Replies</th>

  </tr>
  <% for post in @board.posts %>
    <tr>
      <td><%= link_to (post.title), post_path(post) %>
      <td><%= post.comments.count %>
      <td> Timestamp goes here<%=  %>
      <td><%= link_to "Edit", edit_post_path(post) %></td>
      <td><%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "Add a post", new_post_path %>
